# Machine Learning

*Лектор: Екатерина Лобачева*

*Факультет экономических наук НИУ ВШЭ, 2017-18 учебный год*

[Страница курса](http://wiki.cs.hse.ru/Машинное_обучение_(факультет_экономических_наук%29)

## Домашнее задание №1
Задание основано на материалах курса [Data analysis (Software Engineering)](http://wiki.cs.hse.ru/Data_analysis_(Software_Engineering%29) (ФКН НИУ ВШЭ).

Вам необходимо анализировать набор данных [adult.data](http://archive.ics.uci.edu/ml/datasets/Adult) (источник: UCI Machine Learning Repository) с помощью Python, pandas, numpy, scipy.

Чтобы выполнить работу, скачайте настоящий ipynb-файл, откройте его в *Jupyter Notebook*, впишите решения в оставленные для этого ячейки (при необходимости можно добавлять новые ячейки), приводя полный работающий код, а также все необходимые пояснения и ответы (для этого нужно использовать markdown-ячейки). Вы можете вставлять формулы с помощью TeX-разметки в markdown-ячейки. После выполнения работы необходимо вытащить ipynb-файл из Jupyter (например, с помощью *File → Download as… → IPython Notebook*).

**Подсказка.** Файл [adult.data](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data) является CSV-файлом, но в нём отсутствуют имена переменных — они (вместе с описаниями) приводятся в отдельном файле [adult.names](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names). При загрузке датафрейма с помощью `pd.read_csv` используйте параметры `header=None` (чтобы первая строка не воспринималась как строка с именами переменных) и `names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"]`. Чтобы убрать лишние пробелы после запятых, которые есть в файле, следует добавить опцию `skipinitialspace=True`.

In [2]:
import pandas as pd 
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

Загрузим данные:

In [3]:
data = pd.read_csv("adult.data",header=None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Вопрос 1
Сколько мужчин и женщин в выборке?

In [5]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### Вопрос 2
Каков средний возраст мужчин?

In [6]:
data.groupby('sex')['age'].count()

sex
Female    10771
Male      21790
Name: age, dtype: int64

### Вопрос 3
Какова доля граждан США?

In [7]:
data['native-country'].value_counts()[0]/data['native-country'].count()

0.89585700684868397

### Вопрос 4
Нарисовать распределение уровня образования в виде столбчатой диаграммы (bar plot).

In [ ]:
plt.figure()
plt.ylabel(',,,')
plt.xlabel('...')
data['education-num'].plot(kind='barh')

### Вопрос 5
Найти среднее и стандартное отклонение переменной "final weight" (fnlwgt) для разведённых людей?

In [14]:
data.groupby('marital-status')['fnlwgt'].agg({'mean': np.mean, 'std': np.std})

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

                                mean            std
marital-status
Divorced               185802.790457  105646.789459
Married-AF-spouse      188165.565217  139868.801057
Married-civ-spouse     186763.172877  103097.543011
Married-spouse-absent  193141.760766  114937.598737
Never-married          195383.308996  107765.354649
Separated              206444.325854  117601.326229
Widowed                174159.042296   94005.379316

### Вопрос 6
Правда ли, что люди, зарабатывающие более 50 тыс. в основном имеют высшее образование?

In [16]:
data.groupby('50K')['education'].value_counts().sort_values()

50K    education
>50K   1st-4th            6
       5th-6th           16
       9th               27
       12th              33
       7th-8th           40
<=50K  Preschool         51
>50K   11th              60
       10th              62
<=50K  Doctorate        107
       Prof-school      153
       1st-4th          162
>50K   Assoc-acdm       265
       Doctorate        306
<=50K  5th-6th          317
>50K   Assoc-voc        361
<=50K  12th             400
>50K   Prof-school      423
<=50K  9th              487
       7th-8th          606
       Masters          764
       Assoc-acdm       802
       10th             871
>50K   Masters          959
<=50K  Assoc-voc       1021
       11th            1115
>50K   Some-college    1387
       HS-grad         1675
       Bachelors       2221
<=50K  Bachelors       3134
       Some-college    5904
       HS-grad         8826
Name: education, dtype: int64

Да, правда

### Вопрос 7
Каков максимальный возраст мужчин и женщин каждой расы?

### Вопрос 8
Люди из каких стран работают как фермеры/рыбаки?

### Вопрос 9
Рассмотрим два отношения 1) количество мужчин-бакалавров к количеству мужчин-магистров и 2) количество женщин-бакалавров к количеству женщин-магистров. Какое отношение больше?

In [ ]:
# Впишите решение сюда

### Вопрос 10
Каково максимальное количество рабочих часов в неделю? Как много людей работают столько часов в неделю? Каков их заработок?

In [23]:
max_h = data['hours-per-week'].max()
print(max_h)

99